<table class="table table-bordered text-center">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Thumbnail</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books|paginate:{itemsPerPage:size,currentPage:currentPage,totalItems:totalItem}">
    <th scope="row">{{book.id}}</th>
    <td>{{book.title}}</td>
    <td>
      <div>
        <img src="{{book.thumbnail}}" class="img-thumbnail" width="200px" height="200px" alt="placeholder">
      </div>
    </td>
    <td>
      <div class="d-flex justify-content-center">
        <a [routerLink]="['../view/',book.id]">
          <button class="btn btn-primary">View</button>
        </a>
        <a [routerLink]="['../update/',book.id]">
          <button class="btn btn-warning mx-2">Update</button>
        </a>
        <button class="btn btn-danger" (click)="onDelete(book.id)">Delete</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div class="d-flex justify-content-end mb-4" *ngIf="!isSearch">
  <pagination-controls
    responsive="true"
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)">
  </pagination-controls>
</div>
