<div class="container mt-5">
  <div class="d-flex justify-content-start">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="frmAdd mr-5">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Enter Title" name="title" ngModel>
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" placeholder="Enter Author Name" name="author" ngModel>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Enter description" name="description" ngModel >
      </div>
      <div class="form-group">
        <label for="Category">Category</label>
        <select id="category" name="category" class="form-control" ngModel>
          <option value="">Please choose one</option>
          <option  *ngFor="let option of options" value="{{option.id}}">{{option.title}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div>
      <div class="mt-5">
        <img class="img-thumbnail" [src]="url" width="200px" height="200px"
             alt="placeholder">
      </div>
      <input type="file" (change)="onFileChanged($event)">
    </div>
  </div>
</div>

