<div class="container">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="frmAdd mt-5">
    <div class="form-group">
      <label for="category">Category</label>
      <input type="text" class="form-control" id="category" aria-describedby="emailHelp" placeholder="Enter Category"
             name="category" [(ngModel)]="title">
    </div>
    <button type="submit" class="btn btn-primary">{{isUpdate ? 'Update' : 'Add'}}</button>
  </form>
  <table class="table table-bordered frmAdd mt-5">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
      <th scope="row">{{category.id}}</th>
      <td>{{category.title}}</td>
      <td>
        <div class="d-flex justify-content-center">
          <button class="btn btn-warning mx-2" (click)="onClickUpdate(category.id)">Update</button>
          <button class="btn btn-danger" (click)="onDelete(category.id)">Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
