<div class="container">
    <div class="d-flex justify-content-start mt-5">
      <div>
        <img src="{{url}}" class="img-thumbnail" alt="img" width="200px" height="200px">
      </div>
      <div class="ml-3">
        <h5>Title: {{title}}</h5>
        <p>Author: {{author}}</p>
        <p>Description: {{description}}</p>
        <p>Category: {{category}}</p>
      </div>
    </div>
</div>
