<div class="container">
  <div class="bkTitle mt-4" style="width: 400px;">
    <h3>Book System Management</h3>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <a routerLink="../addNew">
        <button class="btn btn-primary">Add New</button>
      </a>
    </div>
    <div>
      <label>
        <input type="text" class="form-control" id="search" placeholder="Search" (input)="onChange(s)"
               name="search" ngModel #s="ngModel">
      </label>
    </div>
  </div>
  <app-table  [books]="books" [isSearch]="isSearch" (valueChange)="getFromChild($event)"></app-table>
</div>

